//Variables

$website-width: 1280px;
$main-color: rgb(255, 142, 13);
$light-color:#f4f4f4;
$medium-color:rgba(145, 137, 137, 0.863);
$dark-color:#333;
$bg-img: url('/dist/img/showcase/showcase3.jpg');
$text-color: black;
$medium-alt-color: #ccc;
$secondary-color: rgb(181, 209, 241);

//Set text color
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}