//Utilities

.container {
    max-width: $website-width;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
}

//btns

%btn-shared {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    transition: all 0.5s;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.7rem 1.5rem;
}

.btn {
    &-main {
        @extend %btn-shared;
        color: set-text-color($main-color);
        background-color: $main-color;
    }

    &-dark {
        @extend %btn-shared;
        color: set-text-color($dark-color);
        background-color: $dark-color;
    }

    &-light {
        @extend %btn-shared;
        color: set-text-color($light-color);
        background-color: $light-color;
    }

    &-medium-alt {
        @extend %btn-shared;
        color: set-text-color($medium-alt-color);
        background-color: $medium-alt-color;
    }

    &-medium {
        @extend %btn-shared;
        color: set-text-color($medium-color);
        background-color: $medium-color;
    }

    &-secondary {
        @extend %btn-shared;
        color: set-text-color($secondary-color);
        background: $secondary-color;
    }
}

//ANY BUTTON OR LINK WITH THE CLASS BTN- WHATEVER WOULD BE ADDRESSED
button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
    background-color: $main-color;
}

.lead {
    font-size: 2rem;
    margin-bottom: 1.5rem;

}

.text-center {
    text-align: center;
}

//Backgrounds
.bg {
    &-main {
        background-color: $main-color;
        color: set-text-color($main-color);
    }

    &-secondary {
        background-color: $secondary-color;
        color: set-text-color($secondary-color);
    }

    &-light {
        background-color: $light-color;
        color: set-text-color($light-color);
    }

    &-dark {
        background-color: $dark-color;
        color: set-text-color($dark-color);
    }

    &-medium-alt {
        background-color: $medium-alt-color;
        color: set-text-color($medium-alt-color);
    }

    &-medium {
        background-color: $medium-color;
        color: set-text-color($medium-color);
    }

    &-gradient {
        background-image: linear-gradient($secondary-color, $main-color);
        color: set-text-color($light-color);
        ;
    }
}

//Padding Classes

.pad {
    &-1 {
        padding: 1rem 0;
    }

    &-2 {
        padding: 2rem 0;
    }

    &-3 {
        padding: 3rem 0;
    }

    &-4 {
        padding: 4rem 0;
    }
}

//Margin Classes

.marg {
    &-1 {
        margin: 1rem 0;
    }

    &-2 {
        margin: 2rem 0;
    }

    &-3 {
        margin: 3rem 0;
    }

    &-4 {
        margin: 4rem 0;
    }
}

.section-title {
    font-size: 2rem;
    display: block;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}

.underline {
    height: 3px;
    width: 4rem;
    background: $main-color;
    display: block;
    margin: 0 auto 1rem auto;
}